@import "../../styles.scss";

.orders {
  display: flex;
  justify-content: center;
  padding-top: 30px;

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
      font-size: 30px;
    }

    table {
      width: 100%;

      tr {
        font-size: 14px;
        text-align: left;
        height: 50px;

        @include mobile {
          height: 85px;
        }

        &:nth-of-type(even) {
          background-color: #1dbf730f;
        }

        td {
          color: #555;

          .img {
            width: 50px;
            height: 25px;
            object-fit: cover;
          }

          .delete {
            width: 20px;
            height: 20px;
            object-fit: cover;
            cursor: pointer;
          }
        }
      }
    }
  }
}
